<html>
<head>
  <title>Contactanos</title>
</head>
<body>
  <h1>Contactanos</h1>
  {% if errors %}
    <ul>
      {% for error in errors %}
        {{ error }}
      {% endfor %}
    </ul>
  {% endif %}
  <form action="/contactos/" method="post" {% csrf_token %}>
    <p>Asunto: <input type="text" name="asunto" value="{{ asunto }}"></p>
    <p>Email (opcional): <input type="text" name="email" value="{{ email }}"></p>
    <p>Mensaje: <textarea name="mensaje" rows="10" cols="50" value="{{ mensaje }}"></textarea></p>
    <input type="submit" value="Enviar">
  </form>
</body>
</html>
